/*
	Thanks to Themeturn for providing the template.    	  
*/

/*@import url(http://fonts.googleapis.com/css?family=Exo:400,700,100);
@import url(http://fonts.googleapis.com/css?family=Aldrich);*/

@font-face {
    font-family: 'Arkhip';
    src: url('../fonts/myFonts/Arkhip_font.otf') format('opentype'), 
        url('../fonts/myFonts/Arkhip_font.ttf') format('truetype');
}
@font-face {
    font-family: 'Ikaros';
    src: url('../fonts/myFonts/Ikaros.otf') format('opentype');
}

/*
    Margens    
*/
.m60{
	margin: 60px;
}



/* Tipografia
================================================== */

body, p{
	font-family: 'Arkhip','Ikaros', sans-serif;
	font-weight: 400; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arkhip','Ikaros', sans-serif;
}


/*Main style
=======================================*/
#header{
	max-width: 100%;
	box-shadow: #222629 0 1px 4px;
}

/*.wrapper-inner{
	margin: 220px 0 270px;
}*/
.wrapper{
	height: auto !important;
	min-height: 100%;
	background: rgba(0,0,0,0.6);
	width: 100%;
}

/*
	Alteração tamanho da box slider
*/

#top {
	position: relative;
	height: 175px !important;
	width: 100%;		
	max-width: 100%;
}	

/*#top img {
	position: absolute; 
	height: 800px !important;
}*/

/*
	Text me
*/

.text-me {
	margin-left: 30px;
}


/*
 Common
*/

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}


/*	
	Style for images for portfolio section
*/

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap, 
.ch-info{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.ch-info-wrap {
	top: 20px;
	left: 20px;
	background: #f9f9f9 url(../images/bg.jpg);
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	
	-webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info .ch-info-front {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
	opacity: 0;

	background: #223e87;
	pointer-events: none;
	
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-1 { 
	background-image: url(../images/13.jpg);
}

.ch-img-2 { 
	background-image: url(../images/14.jpg);
}

.ch-img-3 { 
	background-image: url(../images/15.jpg);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;	
	padding: 40px 0 0 0;		
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;		
	margin: 0 15px;
	font-size: 14px;
	font-style: bold;
	font-family: 'Open Sans', Arial, sans-serif;
	border-top: 1px solid rgba(255,255,255,0.5);	
}

.ch-info p a {	
	position: relative;
	display: inherit;
	top: -10px;
	color: #e7615e;	
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;	
	font-family: 'Open Sans', Arial, sans-serif;
	border: none;
	font-style: italic;
}

.ch-info p a:hover {
	color: #fff;

}

.ch-item:hover .ch-info-front {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	opacity: 0;
} 

.ch-item:hover .ch-info-back {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
	opacity: 1;
	pointer-events: auto;
}