/*
	Thanks to Themeturn for providing the template.    	  
*/

/*@import url(http://fonts.googleapis.com/css?family=Exo:400,700,100);
@import url(http://fonts.googleapis.com/css?family=Aldrich);*/

@font-face {
    font-family: 'Arkhip';
    src: url('../fonts/myFonts/Arkhip_font.otf') format('opentype'), 
        url('../fonts/myFonts/Arkhip_font.ttf') format('truetype');
}
@font-face {
    font-family: 'Ikaros';
    src: url('../fonts/myFonts/Ikaros.otf') format('opentype');
}

/*
    Margens    
*/
.m60{
	margin: 60px;
}



/* Tipografia
================================================== */

body, p{
	font-family: 'Arkhip','Ikaros', sans-serif;
	font-weight: 400; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arkhip','Ikaros', sans-serif;
}


/*Main style
=======================================*/
#header{
	max-width: 100%;
	box-shadow: black 1px 0px 1px;
}

.wrapper-inner{
	margin: 220px 0 270px;
}
/*.wrapper{
	height: auto !important;
	min-height: 100%;
	background: rgba(0,0,0,0.6);
	width: 100%;
}*/

/*
	Alteração tamanho da box slider
*/

#top {
	position: relative;
	height: 175px !important;
	width: 100%;		
	max-width: 100%;
}	

/*#top img {
	position: absolute; 
	height: 800px !important;
}*/

/*
	Text me
*/

.text-me {
	margin-left: 30px;
}